<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mm.foodapp.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" >
    </uses-sdk>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.mm.jiankangapp.activity.CommonApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name="com.mm.jiankangapp.activity.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.UpdatePwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.XinxiDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.XinxiListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
          <activity
            android:name="com.mm.jiankangapp.activity.XinxifidListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.PlaceOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.MyOrdersListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.Start1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.Start2Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.SoftIntroActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.HomeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.IntroOrPracticeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.ShopListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.TypeIntroActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.HomeList1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.mm.jiankangapp.activity.ShopDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
         <activity
            android:name="com.mm.jiankangapp.activity.MyCollectsListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        
          <activity
            android:name="com.mm.jiankangapp.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
            <activity
            android:name="com.mm.jiankangapp.activity.PersonCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
            <activity
            android:name="com.mm.jiankangapp.activity.NoticeListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        
    </application>

</manifest>